/* Write your CSS code here */
.nav {
  display: flex;
  justify-content: space-between;
  color: #551e53;
}

.logo {
  display: flex;
}

.lists {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navLink {
  margin-left: 15px;
  margin-right: 15px;
}

.waveImg {
  margin-top: 20px;
  margin-right: 10px;
  width: 45px;
  height: 45px;
}
